body {
    font-family: sans-serif, arial;
    background-image: linear-gradient(180deg, rgb(0, 0, 0.75), rgba(0, 0, 0, 0.35)), url('./UH_Background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

header {
    margin: 50px;
}

#schoolLogo {
    width: 150px;
    height: 125px;
}

#degreeHeading {
    color: white;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.tableContainer {
    width: 80%;
    padding: 0px;
}

.sideText {
    background: black;
    color: white;
    writing-mode: vertical-lr;
    text-orientation: mixed;
    transform: rotate(180deg);
    padding: 10px 25px 10px 25px;
    text-align: center;
    margin: 0;
}

#tableSection {
    margin: 0px 200px 0px 200px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
    display: table;
}

.tableHeader {
    color: white;
    font-size: 25px;
    background-color: rgb(180, 0, 0);
}

td, th {
    font-size: 20px;
    padding: 5px 10px 5px 10px;
}

tbody tr:hover {
    text-shadow: 1px 1px black;
}

tr:nth-child(odd) {
    background-color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
    background-color: rgb(255, 194, 194);
}

.totalCreditHours, .creditHours {
    text-align: right;
}

.rightTable .creditHours {
    border-right: 1px solid black;
}

tfoot {
    border: 1px solid black;
}


#toggleEmoji {
    background: none;
    border: none;
    outline: none;
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: 50px;
    padding: 25px;
}

#toggleEmoji:hover {
    text-shadow: 2px 2px 2px yellow;
}