body {
    font-family: sans-serif, arial;
}

.tableContainer {
    width: 80%;
    padding: 100px;
}

.sideText {
    background: black;
    color: white;
    writing-mode: vertical-lr;
    text-orientation: mixed;
    transform: rotate(180deg);
    padding: 10px 25px 10px 25px;
    text-align: center;
    margin: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
    display: table;
}

.tableHeader {
    color: white;
    font-size: 20px;
    background-color: rgb(180, 0, 0);
}



td, th {
    padding: 5px 10px 5px 10px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
    background-color: rgba(255, 0, 0, 0.141);
}

.totalCreditHours, .creditHours {
    text-align: right;
}

.rightTable .creditHours {
    border-right: 1px solid black;
}

tfoot {
    border: 1px solid black;
}
